body {
    margin: 0;
    background-color: #f0f0f0;
    font-family: "Montserrat", sans-serif;
}

#pokedex {
    min-height: 50vh;
    background-color: #f0f0f0;
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    display: flex;
    justify-content: center;
}

.pokedexHeadlineAndSearchFieldContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headlineAndPokeballPictureContainer {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    padding: 50px 0px;
    gap: 50px;
}

h1 {
    display: flex;
    justify-content: flex-start;
}

.d-none {
    display: none !important;
}

.pokeball {
    height: 15vh;
}

.pokemonSearchFieldContainer {
    background-color: rgb(240,240,240);
    display: flex;
}

.pokemonSearchField {
    background-color: white;
    background-image: url('img/search.png');
    background-size: 18px 18px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
    padding-left: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    border: unset;
  }

.search-input:focus {
    border-color: #007bff; 
    box-shadow: 0 0 5px #007bff;
}

.pokemonSearchFieldButton {
    background-color: rgb(237,85,100);
}

.soloPokemonContainerBig {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.soloPokemonContainerSearch {
    height: 40vh;
    width: 300px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10px 30px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    transition: all 500ms;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.soloPokemonContainerSearch:hover {
    cursor: pointer;
    transform: scale(1.05);
    z-index: 1;
}

.noPokemonFoundContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.noPokemonFoundHeadline {
    color: black;
}

.pinkPokemonImg {
    height: 10vh;
}

.typeBackgroundColorTwoSearch {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    height: 30px;
    width: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.wholePokedexContainer {
    margin: 0px 20px;
}

.infoContainer {
    background-color: #f0f0f0;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -40px;
    min-height: 100px;
}

.wholePokemonsContainer {
    flex-wrap: wrap;
}

.soloPokemonContainer {
    height: 40vh;
    width: 300px;
    background-color: rgb(44, 218, 177);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10px 30px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    transition: all 500ms;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.soloPokemonContainer:hover {
    cursor: pointer;
    transform: scale(1.05);
    z-index: 1;
}

.soloPokemonHeadlineContainer {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}

.closePokemonAndNumberContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
}

.pokemonInfoHeadlineContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.closePokemonInfoResponsive {
    display: flex;
    justify-content: flex-end;
    height: 35px;
    padding: 10px 0;
}

.closePokemonInfoResponsive:hover {
    cursor: pointer;
}

.numberOfSinglePokemon {
    color: rgba(255, 255, 255, 0.4);
}

.pokemonImageAndTypeContainer {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-around;
}

.pokemonImage {
    max-height: 35vh;
    max-width: 45%;
}

.pokemonType {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.typeBackgroundColor {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    height: 30px;
    width: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.typeBackgroundColorTwo {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    height: 30px;
    width: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.showMorePokemonButtonContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 20px;
    top: 20px;
}

.showMorePokemonButton {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #000000;
    outline: none;
    transition: 1s ease-in-out;
    border-radius: 30px;
    color: black;
}

.showMorePokemonButton:hover {
    transition: 0.5s ease-in-out;
    background: rgb(237,85,100);
}

.reloadPokemonButton {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #000000;
    outline: none;
    transition: 1s ease-in-out;
    border-radius: 30px;
    color: black;
    margin-top: -40px;
}

.reloadPokemonButton:hover {
    transition: 1s ease-in-out;
    background: rgb(237,85,100);
}

.pokemonInfoContainerAndBorder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    padding-top: 0;
    align-items: center;
    z-index: 9;
}

.pokemonInfoContainerAndBorder:hover {
    cursor: pointer;
}

.pokemonInfoContainer {
    width: 90%;
    background-color: rgb(35, 164, 164);
    position: sticky;
    border-radius: 30px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.pokemonInfoContainer:hover {
    cursor: default;
}

.pokemonInfoHeadlineAndNumberContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0px 40px;
    height: 10vh;
}

.pokemonInfoHeadline {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2em;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.pokemonInfoTypeContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 40px;
}

.pokemonInfoTypeBackgroundColor {
    background-color: rgba(255, 255, 255, 0.4);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 30px;
    width: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color: white;
}

.pokemonInfoTypeBackgroundColorTwo {
    background-color: rgba(255, 255, 255, 0.4);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 30px;
    width: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.numberOfPokemonInfo {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.4);
}

.pokemonInfoPokemonImageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.pokemonInfoPokemonImage {
    height: 30vh;
    margin-bottom: -6vh;
}

.pokemonInfoBottomContainer {
    height: 44vh;
    padding-top: 50px;
    background-color: rgb(222, 217, 217) !important;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: black;
}

.pokemonInfoBottomHeadlineContainer {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

.pokemonInfoBottomAbout {
    color: rgba(137, 128, 128, 0.4);
    font-size: large;
}

.pokemonInfoBottomAbout:hover {
    cursor: pointer;
    color: black;
    text-decoration-line: underline;
    text-decoration-color: rgb(79, 64, 48);
    text-underline-offset: 10px;
}

.pokemonInfoBottomBaseStats {
    color: rgba(137, 128, 128, 0.4);
    font-size: large;
}

.pokemonInfoBottomBaseStats:hover {
    cursor: pointer;
    color: black;
    text-decoration-line: underline;
    text-decoration-color: rgb(79, 64, 48);
    text-underline-offset: 10px;
}

.pokemonInfoBottomEvolution {
    color: rgba(137, 128, 128, 0.4);
    font-size: large;
}

.pokemonInfoBottomEvolution:hover {
    cursor: pointer;
    color: black;
    text-decoration-line: underline;
    text-decoration-color: rgb(79, 64, 48);
    text-underline-offset: 10px;
}

.pokemonInfoBottomMoves {
    color: rgba(137, 128, 128, 0.4);
    font-size: large;
}

.pokemonInfoBottomMoves:hover {
    cursor: pointer;
    color: black;
    text-decoration-line: underline;
    text-decoration-color:
        rgb(79, 64, 48);
    text-underline-offset: 10px;
}

.pokemonInfoBottomOpened {
    text-decoration-line: underline;
    text-decoration-color: rgb(44, 218, 177);
    text-underline-offset: 10px;
    color: black;
}

.wholeIntegratedElementsAndTypesInfoBottomContainer {
    display: flex;
    height: 100%;
    justify-content: center;
}

.movesContainer {
    display: flex;
    height: 35.5vh;
    justify-content: center;
    padding-bottom: 10px;
}

.moves {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: auto;
    width: 80%;
    padding: 15px 15px;
}

.singleMoves {
    display: flex; 
    background-color: rgba(255, 255, 255, 0.4);
    height: 15px;
    color: black;
    border-radius: 10px;
    padding: 8px 20px;
    font-size: medium;
}

.evolutionContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.pokemonInfoPokemonImageEvolutionContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.pokemonInfoPokemonImageEvolution {
    height: 20vh;
}

.pokemonInfoNoEvolutionContainer {
    display: flex;  
    gap: 50px;
    align-items: center;
    height: 100%;
}

.noEvolutionImg {
    height: 15vh;
}

.integratedElementsAndTypesInfoBottomContainer {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
    height: 90%;
    padding-top: 5px;
}

.secondIntegratedElementsAndTypesInfoBottomContainer {
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-items: center;
    height: 90%;
    flex-direction: column;
    padding-top: 5px;
}

.secondIntegratedElementsAndTypesInfoBottomHeadline {
    margin-block-start: 0em;
    margin-block-end: 0em;
    width: 15%;
    font-size: 1.3em;
}

.secondIntegratedElementsAndTypesInfoBottom {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.typesForIntegratedElementsBottomContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    font-style: oblique;
}

.integratedElementsInfoBottomContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.separationLine {
    display: inline-block;
    padding-left: 1.5px;
    margin-right: 1.5px;
}

.baseStatsContainer {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 80%;
    justify-content: center;
    align-items: center;
}

#myChart {
    display: flex !important;
    width: auto !important;
    height: 35vh !important;
}

.bar {
    height: 30px;
    margin-bottom: 5px;
    background-color: #3498db;
}

.bar:nth-child(1) { background-color: var(--color1, #3498db); width: var(--stat1); }
.bar:nth-child(2) { background-color: var(--color2, #2ecc71); width: var(--stat2); }
.bar:nth-child(3) { background-color: var(--color3, #f1c40f); width: var(--stat3); }
.bar:nth-child(4) { background-color: var(--color4, #e67e22); width: var(--stat4); }
.bar:nth-child(5) { background-color: var(--color5, #e74c3c); width: var(--stat5); }

@media (max-width: 700px) {
    .pokedexHeadlineAndSearchFieldContainer{
        flex-direction: column;
        padding-bottom: 40px;
    }

    .headlineAndPokeballPictureContainer {
        padding: 20px 0px;
    }

    h1 {
        font-size: 1.8em;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }

    .pokeball {
        height: 12vh;
    }

    #myChart {
        height: 30vh !important;
    }
}

@media (max-width: 600px) {
    .pokemonInfoPokemonImage {
        height: 25vh;
    }
}

@media (max-width: 530px) {
    .pokemonInfoPokemonImage {
        height: 20vh;
    }

    .integratedElementsAndTypesInfoBottomContainer {
        width: 70%;
    }

    .movesContainer {
        height: 35vh;
    }
}

@media (max-width: 440px) {
    .pokemonInfoContainer {
        height: 80vh;
        width: 100%;
    }

    .pokemonInfoHeadlineAndNumberContainer {
        padding: 0 20px;
    }

    .soloPokemonContainer {
        height: 30vh;
        padding: 0 10px;
    }

    .integratedElementsAndTypesInfoBottomContainer {
        width: 90%;
    }

    span {
        font-size: small;
    }

    h1 {
        font-size: small;
    }

    h2 {
        font-size: small;
    }

    .typeBackgroundColor {
        font-size: 0.6em;
        height: 20px;
        width: 70px;
    }

    .typeBackgroundColorTwo {
        font-size: 0.6em;
        height: 20px;
        width: 70px;
    }

    .pokemonInfoBottomAbout {
        font-size: 0.9em;
    }

    .pokemonInfoBottomBaseStats {    
        font-size: 0.9em;    
    }   

    .pokemonInfoBottomEvolution {
        font-size: 0.9em;
    }

    .pokemonInfoBottomMoves {
        font-size: 0.9em;
    }

    .pokemonInfoHeadline {
        font-size: 1.5em;
    }

    .closePokemonAndNumberContainer {
        gap: 40px;
    }

    .numberOfPokemonInfo {
        font-size: 1.4em;
    }

    .pokemonInfoTypeContainer {
        gap: 10px;
        padding-left: 20px;
    }

    .pokemonInfoPokemonImageEvolution {
        height: 15vh;
    }

    #myChart {
        height: 25vh !important;
    }

    .pokemonInfoPokemonImage {
        height: 17vh;
    }
}

@media (max-width: 350px) {
    #myChart {
        margin-right: -20px !important;
        height: 20vh !important;
    }
}

@media (max-width: 330px) {
    #myChart {
        margin-right: -30px !important;
    }
}

@media (max-width: 317px) {
    #myChart {
        margin-right: -40px !important;
    }
}

@media (max-width: 309px) {
    #myChart {
        margin-right: -50px !important;
    }
}

